# Data science ecosystem

In this notebook, Data science tools and ecosystem are summarized.

Some of the popular languages that data scientists use:
- python
- R
- Java script

Some of the commonly used libraries used by data scientists include:
- tesor flow
- pands
- numpy
- matplotlib

Some of the commonly used librarie used by data scientists include:
- tesor flow
- pands
- numpy

:--------:
|Data science tools|
:--------:
|Apachie spark|
|py tourch|
|R studio|

### Below a few examples of evaluating arithmetic expressions in python:
- # *
- # /
- # +
- # -

In [4]:
# This is a simple arithmetic expresion to multiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minuts into hours
200/60

3.3333333333333335

__Objectives__
- popular data science languages.
- Data science tools.
- Dt